version: '3'

services:
  server:
    build: ./server
    image: server:1.0
    restart: 'always'
    ports:
      - "8080:80"
      - "8443:443"
      - "18267:18266"
    depends_on:
      - server-db
      - build
    links:
      - server-db:database
    volumes:
      - site-volume:/server/site
  
  build:
    build: ./website
    image: website:1.0
    volumes:
      - site-volume:/website/site
  
  server-db:
    image: mariadb:10.7
    restart: 'always'
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: "root"
      MARIADB_USER: "server"
      MARIADB_PASSWORD: "server-password"

volumes:
  site-volume: