@use 'vars';
@use '@material/theme/color-palette';

@use '@material/theme/index' with (
  $primary: vars.$primary,
  $on-primary: vars.$on-primary,
  $secondary: vars.$secondary,
  $on-secondary: vars.$on-secondary,
  $surface: vars.$surface,
  $on-surface: vars.$on-surface,
);

// prevent eye cancer
body {
	background-color: vars.$surface;
}


:root {
	// see ripple better on primary background
	--mdc-ripple-color: rgba(0, 0, 0, 10);

	// lager outline for buttons
	--mdc-outlined-button-outline-width: 3px;

	// higher alpha for outlined buttons
	--mdc-outlined-button-outline-color: #27725c80;

	// removed focus background color
	--mdc-outlined-button-focus-state-layer-opacity: 0;

	// for text inside span in Formfield
	--mdc-theme-text-primary-on-background: vars.$on-surface;
}