@import "./vars";

#svelte-root {
	//width: 100vw
	//height: 100vh
	//position: absolute
}

html, body {
	margin: 0;
}

.hidden {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.rotate {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: rotate;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.margin0 {
	margin: 0 !important;
}