@use "vars";

#svelte-root {
	width: 100vw;
	height: 100vh;
}

html, body {
	margin: 0;
}

body {
	background-color: vars.$surface;
	color: vars.$on-surface;
}

.hidden {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.rotate {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: rotate;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

h1 {
	font-size: 2em;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;
	font-weight: bold;
}