// prim foreground
$primary: #28d3a5;

// prim background
$on-primary: #27725c;

// sec foreground
$secondary: #2345de;

// sec background
$on-secondary: #071a70;

// Background
$surface: #1d232a;

// Text field inner Text and border
$on-surface: #000000;

// Navbar height
$navbar-height: 70px;

// prim background surface
$primary-surface: #53A2BE;

// prim foreground surface
$on-primary-surface: #235773;

// prim background
$on-primary: #174e62;