// prim foreground
$primary: #28d3a5;

// prim background
$on-primary: #27725c;

// sec foreground
$secondary: #e50f61;

// sec background
$on-secondary: #5b1f36;

// Background
$surface: #1d232a;

// Textfield inner Text and border
$on-surface: #18a8ec;

@use '@material/theme/color-palette';

@use '@material/theme/index' with (
  $primary: $primary,
  $on-primary: $on-primary,
  $secondary: $secondary,
  $on-secondary: $on-secondary,
  $surface: $surface,
  $on-surface: $on-surface,
);


html, body {
	background-color: $surface;
	color: $on-surface;
}


:root {
	--mdc-ripple-color: rgba(0, 0, 0, 10);

	--primary: $primary;
	--on-primary: $on-primary;
	--secondary: $secondary;
	--on-secondary: $on-secondary;
	--surface: $surface;
	--on-surface: $on-surface;
}