// prim foreground
$primary: #28d3a5;

// prim background
$on-primary: #27725c;

// sec foreground
$secondary: #e50f61;

// sec background
$on-secondary: #5b1f36;

// Background
$surface: #1d232a;

// Textfield inner Text and border
$on-surface: #18a8ec;

// Navbar height
$navbar-height: 70px;